@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-checkered {
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
    linear-gradient(-45deg, #808080 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #808080 75%),
    linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  background-color: #fff;
}

.mask {
  mask-image: linear-gradient(to right, black 0%, black 100%);
  mask-size: 100%;
  mask-repeat: no-repeat;
  transition: mask-size 0.2s;
  transition-delay: 0.7s;
}

.mask:hover {
  mask-size: 0%;
  transition-delay: 0s;
}

.mask.processing {
  mask-size: 0%;
  transition-delay: 0s;
  border: 2px solid red;
}

body {
  background: linear-gradient(135deg, #5200ae, #4062bb);
}
